$black-color: #2b2b2b;
$primary-color: #49adfa;
$secondary-color: #eb9e0c;
$dark-green: #065109;
$lighter-green-color: #05704e;
$light-green-color: #368d76;
$purple-color: #f053a0;
$redish-color: #a12828;
